* {
  box-sizing: border-box;
}

header{
  width: 100%;
}

body {
  font-size: 14px;
  
  
}
.mypage_box{
  width: 1739px;
 height: 1000px; 
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
 
}
.mypagetext_box {
/* Rectangle 67 */

position: absolute;
width: 445px;
height: 72px;
left: 0px;
top: 200px;

background: #567FEA;
border-radius: 30px 30px 0px 0px;
}
/* Rectangle 68 */



.mypage_inner_box {
 /* Rectangle 68 */

 box-sizing: border-box;

 position: absolute;
 width: 1739px;
 height: 715px;
 left: 0px;
 top: 272px;
 
 background: #FDFFFE;
 border: 2px solid #567FEA;
 border-radius: 0px;

}
.private_update {
  width: 315px;
  color: rgba(65,74,70,1);
  position: absolute;
  top: 284px;
  left: 123px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: center;
}
.password_change{
  width: 315px;
  color: rgba(65,74,70,1);
  position: absolute;
  top: 284px;
  left: 438px;
  font-family: Inter;
  font-weight: bold;
  font-size: 38px;
  opacity: 1;
  text-align: center;
}
.my_authmark {
position: absolute;
width: 241px;
height: 37px;
left: 826px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 46px;
text-align: center;

color: #424A47;
}

.my_contribution_status{
position: absolute;
width: 241px;
height: 37px;
left: 1130px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 46px;
text-align: center;

color: #424A47;
}


.slash_1{
  width: 85px;
  color: rgba(65,74,70,1);
  position: absolute;
  top: 284px;
  left: 396px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: center;
}
.slash_2{
  width: 85px;
  color: rgba(65,74,70,1);
  position: absolute;
  top: 284px;
  left: 720px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 38px;
  opacity: 1;
  text-align: center;
}

.slash_3{
 /* / */

position: absolute;
width: 47px;
height: 44px;
left: 1075px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 46px;
text-align: center;

color: #424A47;


}

.title{
  width: 382px;
  color: rgba(65,74,70,1);
  position: absolute;
  top: 62px;
  left: 65px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.my_password_change {
/* 비밀번호 변경하기 */

position: absolute;
width: 304px;
height: 48px;
left: 84px;
top: 398px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #000000;


}
/* 000 님 로그아웃 */



.logout_zon{
  position: absolute;
  width: 390px;
  height: 10%;
  right: 3%;
  left: 1290px;
top: 63px;
 

}

.logout1{
  margin-top: 10px;
  width: 390px;
  color: rgba(65,74,70,1);
  position: absolute;
 text-align: right;
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
 
}

.logout_btn1{
  position: absolute;
  width: 120px;
  height: 52px;
  top: 50%;
  left: 73%;
  
  border-radius: 20px;
  font-size: 25px;
}

.mypage {

  position: absolute;
  width: 315px;
  height: 64px;
  top: 208px;
  left: 98px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  
  color: #FDFFFE;
}

.line{
position: absolute;
width: 1500px;
height: 0px;
left: 86px;
top: 450px;

border: 1px solid #000000;

}
.line2{
  position: absolute;
width: 1500px;
height: 0px;
left: 86px;
top: 850px;

border: 1px solid #000000;
}


.cancel_btn{

  position: absolute;
  width: 217px;
  height: 62px;
  left: 694px;
  top: 924px;
  
  background: #567FEA;
  color: #FDFFFE;
  border-radius: 20px;
  font-size: 25px;
  
  
  }
  
  .update_btn{
  
  position: absolute;
  width: 217px;
  height: 62px;
  left: 979px;
  top: 924px;
  
  background: #567FEA;
  color: #FDFFFE;
  border-radius: 20px;
  font-size: 25px;
  
  }
.now_password {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 573px;
  left: 202px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.now_password_box{
position: absolute;
width: 844px;
height: 52px;
left: 539px;
top: 559px;

background: #FFFFFF;
border-radius: 9px;
font-size: 20px;

}
.new_password{
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 676px;
  left: 202px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.new_password_box{

position: absolute;
width: 844px;
height: 52px;
left: 539px;
top: 659px;

background: #FFFFFF;
border-radius: 9px;
font-size: 20px;
}

.new_password_check {
  width: 254px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 780px;
  left: 202px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.new_password_check_box{


position: absolute;
width: 844px;
height: 52px;
left: 543px;
top: 759px;

background: #FFFFFF;
border-radius: 9px;
font-size: 20px;
}
